* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.text-center {
  text-align: center;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  background: rgb(215, 142, 142);
}

h1 {
  margin: 5px;
  padding: 15px 5px;
  color: white;
}

nav li {
  list-style-type: none;
  display: inline-block;
  background-color: white;
  margin: 15px;
  padding: 15px 20px;
  border-radius: 5px;

  cursor: pointer;
}

nav li:hover {
  background: rgb(242, 122, 122);
  color: white;
}

@media screen and (max-width: 760px) {
  header {
    display: flex;
    flex-direction: column;
  }

  nav {
    background: rgb(235, 155, 124);
    display: flex;
    justify-content: space-evenly;
  }

  nav li {
    margin: 10px;
    padding: 10px 5px;
    border-radius: 5px;
  }

  h1 {
    text-align: center;
  }

  .displayData {
    padding: 100px 0;
  }
  

}



.displayData {
  margin: 20px 0;
}

.main {
  width: 95%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}

.card-body {
  max-width: 100%;
  height: 20rem;

  padding: 10px;
  border-radius: 10px;
  background: rgb(142, 115, 115);
}

.card {
  width: 100%;
  height: 300px;
}

.img-resize {
  width: 100%;
  height: 70%;
  border-radius: 10px;
}

.nameAndPrice {
  padding: 10px;
}

.nameAndPrice p {
  font-size: 18px;
}